/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    color: #5a9;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
    font-size: 3rem;
}

#video {
    border: 1px solid black;
    width: 700px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

#captureBtn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5a9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#captureBtn:hover {
    background-color: #489;
}

/* Upload Section */
#uploadForm {
    margin-top: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #5a9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin: 5px;
}

.custom-file-upload:hover {
    background-color: #489;
}

#uploadedImage {
    width: 700px;
    height: 500px;
    border: 1px dashed #ccc;
    margin: 0 auto 20px auto;
    position: relative;
}

/* Adjustment Section */
#brightness, #contrast, #effect {
    margin: 10px;
}

#adjustments {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

#actions {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #489;
}

#applyEffect, #resetBtn, #saveBtn, #deleteBtn {
    display: inline-block;
    background-color: #5a9;
    color: white;
    margin: 5px;
}
.centered-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
#colorPicker, #backgroundImageInput, #promptInput, #selectBackgroundBtn {
    display: none;
}

#promptInput {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}

#backgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 700px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    border: 2px solid #5a9;
    border-radius: 10px;
    background-color: #f0f8ff; /* Light blue for a clean look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
